html {
    font-family: 'Nunito';
}

body {
    background-color: #130f0d;
    color: white;
}

.mainboard {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    font-size: 35px;
}

.mboard {
    background: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;

    margin:16px;
}

.mboard h3 {
    padding: 16px;
    margin: 0;
    color: #FD951Fcc;
}

.boards {
    display:flex;
    flex-direction: row;
    margin-top: 20px;
}

.board {
    background: #141316;
    border: 1px solid #FD951F11;
    border-radius: 4px;
    margin:16px;
}

.board h3 {
    padding: 16px;
    margin: 0;
    color: #FD951Fcc;
    font-size: 40px;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card {
    background-color: #1A1A1C;
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
    width: 250px;
    margin: 15px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 40px;
    float: left;
}

.highlight {
    background-color: #FD951F08;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}
